*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    margin-top: 100px;
}

#countVal{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(236, 233, 233);
    height: 100px;
    border-radius: 20px;
    color: black;
}

.counter{
    background-color: #d1cccc;
    width: 40vw;
    height: 50vh;
    padding: 20px;
    border-radius: 20px;
}

#countButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

#countAddBtn{
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(31, 34, 41);
    color: #fff;
    box-shadow: 0px 0px 10px black;
}

#countAddBtn:hover{
    background-color: rgb(70, 69, 69);
    transition: .5s;
    transform: translateY(-2px);
}

#countSubBtn{
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(31, 34, 41);
    color: #fff;
    box-shadow: 0px 0px 10px black;
}

#countSubBtn:hover{
    background-color: rgb(70, 69, 69);
    transition: .5s;
    transform: translateY(-2px);
}

#resetBtn{
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(31, 34, 41);
    color: #fff;
    box-shadow: 0px 0px 10px black;
}

#resetBtn:hover{
    background-color: rgb(70, 69, 69);
    transition: .5s;
    transform: translateY(-2px);
}